---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<div>
		<header><img src="C:\Users\proma\Desktop\cropped-VSLLOGO.png" alt=""></header>
	</div>
	</main>
</Layout>

